#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	$(MAKE) prefix=debian/bdii install
	slapd_modulepath="modulepath      /usr/lib/ldap" ; \
	slapd_moduleload="moduleload      back_hdb" ; \
	sed -e "/allow bind_v2/i$${slapd_modulepath}\n$${slapd_moduleload}" \
	    -e "s!etc/openldap/schema!etc/ldap/schema!" \
	    -i debian/bdii/etc/bdii/bdii-slapd.conf ; \
	sed "s/BDII_USER=.*/BDII_USER=openldap/" \
	    -i debian/bdii/etc/bdii/bdii.conf
