Source: bdii
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Section: net
Priority: optional
Build-Depends: debhelper (>= 5), python-support
Standards-Version: 3.9.3
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/BDII
Vcs-Browser: http://svnweb.cern.ch/world/wsvn/gridinfo/bdii/
Vcs-Svn: https://svn.cern.ch/reps/gridinfo/bdii/
DM-Upload-Allowed: yes

Package: bdii
Architecture: all
Depends: slapd, ldap-utils, glue-schema, whois, ${misc:Depends}, ${python:Depends}
Suggests: logrotate
Description: The Berkeley Database Information Index (BDII)
 The Berkeley Database Information Index (BDII) consists of a standard
 LDAP database which is updated by an external process. The update process
 obtains LDIF from a number of sources and merges them. It then compares
 this to the contents of the database and creates an LDIF file of the
 differences. This is then used to update the database.
