Source: 
Section: grid
Priority: extra
Architecture: all
Maintainer:
Build-Depends: debhelper (>= 5), coreutils
Standards-Version: 3.7.2

Package: 
Architecture: all
Depends: coreutils, whois, slapd, glue-schema
Description:
